.wrapper {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card {
  width: 50%;
  display: flex;
  flex: 1 0;
}
.header ,.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.title {
  font-size: 2rem;
  font-weight: bold;
}
.action{
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  gap: 10px;
}
.footer{
  margin-top:10px;
}
