.entity-details {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

label {
  font-weight: bold;
}

.entity-field {
  display: flex;
  margin-right: 20px;
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
